*.jou
*.log
./bomberman_student_2024/bomberman_basys3/bomberman_basys3.cache/
./bomberman_student_2024/bomberman_basys3/bomberman_basys3.hw/
./bomberman_student_2024/bomberman_basys3/bomberman_basys3.gen/
./bomberman_student_2024/bomberman_basys3/bomberman_basys3.sim/
