bomberman_student_2024/bomberman_basys3/bomberman_basys3.cache/
bomberman_student_2024/bomberman_basys3/bomberman_basys3.gen/
bomberman_student_2024/bomberman_student_2024/omberman_basys3/bomberman_basys3.hw/
bomberman_student_2024/bomberman_basys3/bomberman_basys3.ip_user_files/
vivado.jou
vivado.log
bomerman_student_2024/bomberman_basys3/bomberman_basys3.runs/
!*.bit
*.backup*
*.jou*
*.log*
bomberman_student_2024/bomberman_basys3/bomberman_basys3.srcs/
bomberman_student_2024/bomberman_basys3/min_area_pfile.tmp
bomberman_student_2024/bomberman_basys3/.Xil/
.~lock.FINAL_PROJECT_STUDENT.docx#
.gitignore.swp
*.swp*
bomberman_student_2024/bomberman_basys3/bomberman_basys3.runs/



